openapi: 3.0.3
info:
  title: urlshort.dev API
  description: |
    Free, no-auth REST API for shortening URLs provided by [urlshort.dev](https://www.urlshort.dev).

    ## Overview
    - No API key or authentication required.
    - Submit any valid URL → receive a short link hosted on `acesse.one`.
    - Shortened links **do not expire**.
    - Submitting the same URL again returns the same short link.

    ## Base URL
    ```
    https://api.encurtador.dev
    ```
  version: 1.0.0
  contact:
    name: urlshort.dev
    url: https://www.urlshort.dev/api.html

servers:
  - url: https://api.encurtador.dev
    description: Production API

tags:
  - name: Links
    description: URL shortening operations

paths:
  /encurtamentos:
    post:
      tags:
        - Links
      summary: Shorten a URL
      description: |
        Accepts a long URL and returns a shortened link on the `acesse.one` domain.

        - No authentication required.
        - If the same URL has been shortened before, the existing short URL is returned.
        - Short links never expire.
      operationId: shortenUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShortenRequest'
            examples:
              google:
                summary: Shorten google.com
                value:
                  url: "https://google.com"
              long_url:
                summary: Shorten a long path URL
                value:
                  url: "https://www.example.com/some/very/long/path?with=query&params=here"
      responses:
        '200':
          description: URL already existed — existing short link returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortenResponse'
              example:
                urlEncurtada: "acesse.one/Og5Wz"
        '201':
          description: New short URL created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortenResponse'
              example:
                urlEncurtada: "acesse.one/Og5Wz"
        '400':
          description: Invalid or missing URL in request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Invalid URL"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Internal server error"

components:
  schemas:
    ShortenRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: The original long URL to shorten. Must be a valid, fully-qualified URL.
          example: "https://www.example.com/some/very/long/path"

    ShortenResponse:
      type: object
      description: Successful response containing the shortened URL.
      properties:
        urlEncurtada:
          type: string
          description: |
            The shortened URL (without protocol prefix), hosted on `acesse.one`.
            Prepend `https://` to use as a clickable link.
          example: "acesse.one/Og5Wz"

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error description
          example: "Invalid URL"
